.answerRow{
    margin: 20px;
}

button{
    height: 80px;
}

.scoreCard{
    right: 200px;
    bottom: 10px;
    position: absolute;
}

.jumbotron{
    padding: 20px;
    position: relative;
}

.questionText{
    width: 800px;
}

.timerBar{
    background-color: black;
    height: 20px;
    width: 5%;
    float: left;
    left: 0;
    margin: 0px;
    padding: 0px;

}

.timerCard{
    height: 100px;
}