body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.answerRow{
    margin: 20px;
}

button{
    height: 80px;
}

.scoreCard{
    right: 200px;
    bottom: 10px;
    position: absolute;
    width: 15rem;
}

.jumbotron{
    padding: 20px;
    position: relative;
    background: transparent;
}

.questionText{
    width: 800px;
}

.timerBar{
    background-color: black;
    height: 20px;
    width: 100px;
    float: left;
    left: 0;
    margin: 0 0 0 -5px;
    padding: 0px;

}

.timerCard{
    height: 100px;
}

#selectedAnswer{
    background-color: red;
    color: white;
}

#correctAnswer{
    background-color: green;
    color: white;
}

#endGameScorecard{
    width: 35rem;
    position: relative;
    margin-left: 20%;
    font-size: 20px;
    opacity: 0.9;
}

#FSHeader{
    padding: 10px;
}

.startButton{
    margin-top: 100px;
    /* background-color: beige; */
}

.optionsButtons{
    /* background-color: #dcdcaf; */
}

#answerText{
    color: white;
}