.answerRow{
    margin: 20px;
}

button{
    height: 80px;
}

.scoreCard{
    right: 200px;
    bottom: 10px;
    position: absolute;
}

.jumbotron{
    padding: 20px;
    position: relative;
}

.questionText{
    width: 800px;
}